body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}

.history-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  position: relative;
  transition: transform 0.3s ease;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.history-list {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  gap: 20px;
}

.history-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.history-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.history-item .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-item .details .description {
  font-size: 1rem;
  color: #333;
}

.no-items-message {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.error-message {
  text-align: center;
  font-size: 1rem;
  color: red;
}

.history-item img:hover {
  transform: scale(1.2); 
}

.sidebar {
  width: 280px;
  background-color: rgb(83, 126, 62);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: -280px;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: left 0.3s ease;
}

.sidebar h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: rgb(38, 71, 5);
  color: white;
}

.sidebar ul li#logout {
  background-color: rgba(198, 198, 209, 0.584);
  border-radius: 10%;
  margin-top: auto;
  text-align: center;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 100;
}
