body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.history-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.history-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.history-item {
    display: flex;
    align-items: center;
    width: calc(33% - 20px); /* Adjust for three items per row */
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.history-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.history-item .details {
    display: flex;
    flex-direction: column;
}

.history-item .details .search-term {
    font-weight: bold;
    font-size: 1.1rem;
}

.history-item .details .timestamp {
    font-size: 0.9rem;
    color: #888;
}

.sidebar {
  width: 250px;
  background-color: #305375;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: -250px; 
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  transition: left 0.3s ease; 
}

.sidebar h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}

.sidebar ul li {
  margin-bottom: 10px; 
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #547291;
  color: white;
}

.sidebar ul li#logout {
  margin-top: auto; 
}



.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 100;
}
