body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(216, 209, 209, 0.607);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
  z-index: 0; /* Below the login form but above the video */
}

.signup {
  z-index: 1;
  position: relative;
  background: white;
  padding: 1rem; /* Reduced padding */
  margin-bottom: 10px; /* Reduced margin */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 380px; /* Set a maximum width to keep the form size consistent */
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
  position: relative; /* To position the eye icon inside the input group */
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 1rem;
}

.input-group input {
  width: 85%; /* Reduced width */
  padding: 0.6rem; /* Reduced padding */
  border: 1px solid #3d3b3b;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.signup-button {
  width: 93%;
  padding: 0.6rem; /* Reduced padding */
  background-color: rgb(83, 126, 62);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 3%;
}

#usernameFeedback,
#emailFeedback {
  font-size: 0.8em;
  color: red;
  margin-top: 5px;
  margin-left: 8px;
  max-width: 90%;
}

#passwordFeedback {
  display: block;
  font-size: 0.8em;
  color: black;
  margin-top: 5px; /* Space between input and feedback text */
  margin-left: 17px;
  max-width: 90%;
}

#togglePassword1 {
  position: absolute;
  margin-right: 8%;
  margin-bottom: 4%;
  right: 0rem; /* Adjusts the icon to the right side */
  top: 50%; /* Positions it vertically centered */
  transform: translateY(-50%); /* Vertically centers the icon */
  cursor: pointer;
  font-size: 1.2rem;
}

#togglePassword2 {
  position: absolute;
  margin-right: 8%;
  margin-top: 4%;
  right: 0rem; /* Adjusts the icon to the right side */
  top: 50%; /* Positions it vertically centered */
  transform: translateY(-50%); /* Vertically centers the icon */
  cursor: pointer;
  font-size: 1.2rem;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure video stays behind other content */
}
